<ion-header>
  <ion-toolbar>
    <ion-title>Nova Conta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>E-mail</ion-label>
      <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="cadastrar()">Cadastrar</ion-button>
</ion-content>

